@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.vid-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  font-family: Berkshire Swash;;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #002249;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #002249;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #002249;
}

::-moz-selection {
  color: #fff;
  background: #002249;
}

::selection {
  color: #fff;
  background: #002249;
}

.wsd-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .wsd-nav {
    padding: 20px 0;
  }
}
.wsd-nav #wsd-logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-family:  Arial, serif;
}
.wsd-nav a {
  padding: 5px 10px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .wsd-nav .menu-1, .wsd-nav .menu-2 {
    display: none;
  }
}
.wsd-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.wsd-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.wsd-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.wsd-nav ul li a:hover, .wsd-nav ul li a:focus, .wsd-nav ul li a:active {
  color: white;
}
.wsd-nav ul li.has-dropdown {
  position: relative;
}
.wsd-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.wsd-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.wsd-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.wsd-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.wsd-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.wsd-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.wsd-nav ul li.has-dropdown:hover a, .wsd-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.wsd-nav ul li.btn-cta a {
  color: #002249;
}
.wsd-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.wsd-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.wsd-nav ul li.active > a {
  color: #fff !important;
}

#wsd-counter,
#wsd-event,
.wsd-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.wsd-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.wsd-video {
  height: 450px;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.wsd-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.wsd-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.wsd-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.wsd-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.wsd-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.wsd-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.wsd-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.wsd-cover > .wsd-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .wsd-cover {
    height: 600px;
  }
}
.wsd-cover .display-t,
.wsd-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .wsd-cover .display-t,
  .wsd-cover .display-tc {
    height: 600px;
  }
}
.wsd-cover.wsd-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .wsd-cover.wsd-cover-sm {
    height: 400px;
  }
}
.wsd-cover.wsd-cover-sm .display-t,
.wsd-cover.wsd-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .wsd-cover.wsd-cover-sm .display-t,
  .wsd-cover.wsd-cover-sm .display-tc {
    height: 400px;
  }
}

#wsd-counter,
#wsd-event {
  height: 850px;
  float: left;
}
#wsd-counter .display-t,
#wsd-counter .display-tc,
#wsd-event .display-t,
#wsd-event .display-tc {
  height: 700px;
  display: table;
  width: 100%;
}
#wsd-counter .wsd-heading h2{
  color: #fff;
}
#wsd-event .wsd-heading h2 {
  color: #fff;
}
#wsd-counter .wsd-heading span,
#wsd-event .wsd-heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}
#wsd-counter .overlay,
#wsd-event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 768px) {
  #wsd-counter,
  #wsd-event {
    height: inherit;
    padding: 7em 0;
  }
  #wsd-counter .display-t,
  #wsd-counter .display-tc,
  #wsd-event .display-t,
  #wsd-event .display-tc {
    height: inherit;
  }
}
#wsd-counter .event-wrap,
#wsd-event .event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #wsd-counter .event-wrap,
  #wsd-event .event-wrap {
    margin-bottom: 10px;
  }
}
#wsd-counter .event-wrap h3,
#wsd-event .event-wrap h3 {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0px;
}
#wsd-counter .event-wrap p, #wsd-counter .event-wrap span,
#wsd-event .event-wrap p,
#wsd-event .event-wrap span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}
#wsd-counter .event-wrap i,
#wsd-event .event-wrap i {
  color: white;
  font-size: 20px;
}
#wsd-counter .event-wrap .event-col,
#wsd-event .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#wsd-counter {
  /* height: 600px; */
}
@media screen and (max-width: 768px) {
  #wsd-counter {
    height: auto;
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 60px;
    height: 60px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
#wsd-gallery-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#wsd-gallery-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  #wsd-gallery-list li {
    margin-left: 0;
  }
}
#wsd-gallery-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
#wsd-gallery-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}
#wsd-gallery-list li a:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#wsd-gallery-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #wsd-gallery-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#wsd-gallery-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#wsd-gallery-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #wsd-gallery-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}
#wsd-gallery-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #wsd-gallery-list li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #wsd-gallery-list li.one-third {
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.wsd-social-icons {
  margin: 0;
  padding: 0;
}
.wsd-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.wsd-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #002249;
  padding-left: 10px;
  padding-right: 10px;
}
.wsd-social-icons li a i {
  font-size: 20px;
}

.wsd-contact-info ul {
  padding: 0;
  margin: 0;
}
.wsd-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.wsd-contact-info ul li:before {
  color: #002249;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wsd-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.wsd-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.wsd-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.wsd-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#wsd-header .display-tc,
#wsd-counter .display-tc,
.wsd-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#wsd-header .display-tc h1, #wsd-header .display-tc h2,
#wsd-counter .display-tc h1,
#wsd-counter .display-tc h2{
  font-size: 60px;
  margin-bottom: 90px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  font-family:  Arial, serif;
}
.wsd-cover .display-tc h1,
.wsd-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#wsd-header .display-tc h1,
#wsd-counter .display-tc h1,
.wsd-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 82px;
  line-height: 1.5;
  font-family: "Berkshire Swash", Arial, serif;
}
@media screen and (max-width: 768px) {
  #wsd-header .display-tc h1,
  #wsd-counter .display-tc h1,
  .wsd-cover .display-tc h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  #wsd-header .display-tc h1,
  #wsd-counter .display-tc h1,
  .wsd-cover .display-tc h1 {
    font-size: 30px;
  }
}
#wsd-header .display-tc h2,
#wsd-counter .display-tc h2{
  font-size: 30px;
  margin-bottom: 90px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  font-family:  Arial, serif;
}
.wsd-cover .display-tc h2 {
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  font-family:  Arial, serif;
}
@media screen and (max-width: 480px) {
  #wsd-header .display-tc h2,
  #wsd-counter .display-tc h2{
      font-size: 20px;
      margin-bottom: 90px;
      line-height: 1.5;
      font-weight: bold;
      color: #fff;
      font-family:  Arial, serif;
    }
  .wsd-cover .display-tc h2 {
    font-size: 16px;
  }
}
#wsd-header .display-tc .btn,
#wsd-counter .display-tc .btn,
.wsd-cover .display-tc .btn {
  padding: 15px 20px;
  background: #fff !important;
  color: #002249;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
#wsd-header .display-tc .btn:hover,
#wsd-counter .display-tc .btn:hover,
.wsd-cover .display-tc .btn:hover {
  background: #fff !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#wsd-counter {
  text-align: center;
}
#wsd-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 100;
  display: block;
}
#wsd-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #wsd-counter .feature-center {
    margin-bottom: 50px;
  }
}
#wsd-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}
#wsd-counter .icon i {
  height: 70px;
}
#wsd-counter .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgb(92 111 183 / 80%);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}

#wsd-testimonial,
#wsd-services,
#wsd-started,
#wsd-footer,
#wsd-event,
#wsd-agenda,
#wsd-venue,
#wsd-gallery,
.wsd-section {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #wsd-testimonial,
  #wsd-services,
  #wsd-started,
  #wsd-footer,
  #wsd-event,
  #wsd-agenda,
  #wsd-venue,
  #wsd-gallery,
  .wsd-section {
    padding: 3em 0;
  }
}

.wsd-section-gray {
  background: rgba(0, 0, 0, 0.04);
}

.feature-center {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #002249;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
}

.wsd-heading {
  margin-bottom: 5em;
}
.wsd-heading.wsd-heading-sm {
  margin-bottom: 2em;
}
.wsd-heading h2 {
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  color: #002249;
  font-family:  Arial, serif;
}
@media screen and (max-width: 768px) {
  .wsd-heading h2 {
    font-size: 40px;
  }
}
.wsd-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.wsd-heading span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

#wsd-testimonial .wrap-testimony {
  position: relative;
}
#wsd-testimonial .wrap-testimony .testimony-slide {
  text-align: center;
}
#wsd-testimonial .wrap-testimony .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#wsd-testimonial .wrap-testimony .testimony-slide span a.twitter {
  color: #002249;
  font-weight: 300;
}
#wsd-testimonial .wrap-testimony .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100px;
  height: 100px;
}
#wsd-testimonial .wrap-testimony .testimony-slide figure img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#wsd-testimonial .wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  #wsd-testimonial .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
}
#wsd-testimonial .wrap-testimony .testimony-slide blockquote p {
  font-style: italic;
  color: #8f989f;
  font-size: 20px;
  line-height: 1.6em;
}
#wsd-testimonial .wrap-testimony .testimony-slide.active {
  display: block;
}
#wsd-testimonial .wrap-testimony .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#wsd-testimonial .wrap-testimony .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#wsd-testimonial .wrap-testimony .arrow-thumb a:hover, #wsd-testimonial .wrap-testimony .arrow-thumb a:focus, #wsd-testimonial .wrap-testimony .arrow-thumb a:active {
  text-decoration: none;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  position: relative;
}
.feature-left:last-child {
  margin-bottom: 0;
}
.feature-left .icon {
  float: left;
  margin-right: 5%;
  width: 54px;
  height: 54px;
  background: #fff;
  display: table;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .feature-left .icon {
    margin-right: 5%;
  }
}
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  color: #002249;
}
.feature-left .feature-copy {
  float: left;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 70%;
    float: left;
  }
}
.feature-left .feature-copy h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
  margin-bottom: 10px;
}

#wsd-started {
  position: relative;
}
#wsd-started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#wsd-started .wsd-heading h2 {
  color: #fff;
}
#wsd-started .wsd-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#wsd-started .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#wsd-started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#wsd-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#wsd-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#wsd-started .form-control:-ms-input-placeholder {
  color: #fff;
}
#wsd-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#wsd-started .btn {
  height: 54px;
  border: none !important;
  background: #002249;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#wsd-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#wsd-started .form-inline .form-group .form-control {
  width: 100%;
}
#wsd-started .wsd-heading {
  margin-bottom: 30px;
}
#wsd-started .wsd-heading h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #wsd-footer .copyright .pull-left,
  #wsd-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
#wsd-footer .copyright .block {
  display: block;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #002249;
}

#wsd-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #wsd-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#wsd-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#wsd-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#wsd-offcanvas ul {
  padding: 0;
  margin: 0;
}
#wsd-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#wsd-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#wsd-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#wsd-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#wsd-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  /* background: rgba(0, 0, 0, 0.5); */
  background: #00ccff;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.wsd-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.wsd-nav-toggle.active i::before, .wsd-nav-toggle.active i::after {
  background: #444;
}
.wsd-nav-toggle:hover, .wsd-nav-toggle:focus, .wsd-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.wsd-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.wsd-nav-toggle i::before, .wsd-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.wsd-nav-toggle.wsd-nav-white > i {
  color: #fff;
  background: #fff;
}
.wsd-nav-toggle.wsd-nav-white > i::before, .wsd-nav-toggle.wsd-nav-white > i::after {
  background: #fff;
}

.wsd-nav-toggle i::before {
  top: -7px;
}

.wsd-nav-toggle i::after {
  bottom: -7px;
}

.wsd-nav-toggle:hover i::before {
  top: -10px;
}

.wsd-nav-toggle:hover i::after {
  bottom: -10px;
}

.wsd-nav-toggle.active i {
  background: transparent;
}

.wsd-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.wsd-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.wsd-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .wsd-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #002249;
  color: #fff;
  border: 2px solid #002249;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f366a3 !important;
  border-color: #f366a3 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #002249;
  border: 2px solid #002249;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #002249;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #002249;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.wsd-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
